<div class="row">

	<div class="col-lg-8 newForm">
<p><strong>Title:</strong>

	<%=@post.title%>



</p>


<p><strong>Text:</strong>

	<%=@post.text%>



</p>

<h2>Comments</h2>

<%@post.comments.each do |comment|%>
<p>
<strong>Commenter:</strong>

<%=comment.commenter%>

</p>


<p>
<strong>Comment:</strong>

<%=comment.body%>

</p>
<%end%>

<h1>Add comment:</h1>

<%=simple_form_for([@post, @post.comments.build]) do |f|%>

<%=f.input :commenter%>


<%=f.input :body%>

<%=f.button :submit%>







<%end%>

<%=link_to "Edit Posts", edit_post_path(@post)%>
<%=link_to "Back to Posts", posts_path%>



	</div>


	<div class="col-lg-4 newForm">


   <p><%=link_to "Posts", posts_path%></p>
	</div>


</div>